# oauth2-proxy-logto.cfg
http_address = "0.0.0.0:4180"
reverse_proxy = true

# Настройки OIDC провайдера = Logto
provider = "oidc"
oidc_issuer_url = "http://auth.localhost/oidc"
client_id = "n2f9jvrjahslb9lvc52oj"
client_secret = "ibBkM0crGWwXsSnDMcslmS1tWcS4FKUU"
redirect_url = "http://auth.localhost/oauth2/callback"

# Безопасность cookie (для localhost)
cookie_secret = "aJNsm5inpBpUleVCUVg0LyH2JqKytCVMpCtcBEbghtE="
cookie_secure = false
cookie_name = "_oauth2_proxy"

# Разрешить любые email-домены (или укажите конкретные)
email_domains = "*"

# Запрашиваемые OIDC scope
scope = "openid profile email"

# Важные заголовки для передачи приложению
set_xauthrequest = true
pass_access_token = true
pass_authorization_header = true
pass_user_headers = true

# Для локальной разработки (иначе на localhost будет ошибка проверки редиректа)
skip_oidc_discovery = false # обычно false, но если проблемы, можно true
