# ./nginx/default.conf.template

# 1. Основной сервер для LMS
server {
    listen ${MAIN_NGINX_PORT};
    server_name ${LMS_DOMAIN};

    location /api/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto http;
        proxy_pass http://students-service:4040/;
    }

    # Allow access to the assets directory
    location /assets/ {
        allow all;
        # Optional: Enable directory listing if you want users to see all files
        # autoindex on;
    }

    location /oauth2/callback {
        return 200 @app;
    }

    root /usr/share/nginx/html;
    index index.html;
    location @app {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto http;
        try_files $uri $uri /index.html;
    }
}


# 2. Kafka-UI. Там своя система авторизации.
server {
    listen 80;
    server_name ${KAFKA_DOMAIN};

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto http;
        proxy_pass http://kafka-ui:8080/;
    }
}